.about-section{

    height: 100vh;
    background-color: rgb(151, 146, 146);

}
.work-section{
    
    padding: 10rem 2rem;
    background: var(--main-blue);    

}
.work-section-header{
    
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
   }


.contact-section {

    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
}
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
}